@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-react-aria-components";
@tailwind utilities;

:root {
  font-family: "DM Sans";

  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
 
}

.react-aria-MenuItem {
  margin: 1vw;
  padding: 1vw;
  border-radius: 14px;
  outline: none;
  text-align: left;
  display: flex;
  cursor: default;
  color: var(--text-color);
  font-size: small;
  position: relative;
  column-gap: 1vw;
  forced-color-adjust: none;
  cursor: pointer;

  &[data-focused] {
    background: lightgrey;
  }
}

/* Add custom styles for Markdown headers within prose */


h1 {
  font-size: 5rem;
}
/* Add other global styles or component styles below */